@import "../../index.scss";

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio-item{
    background: $color-bg-variant;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: $transition;
    
    &:hover{
        border-color: $color-primary-variant;
        background: transparent;
    }
    
    h3{
        margin: 1.2rem 0 2rem;
    }

    p{
        margin-bottom: 1rem;
    }
}

.portfolio-item-image{
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ============ RESPONSIVE ============ */

@media screen and (max-width: 1024px){
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}