@import '../../index.scss';

.container.testimonials-container{
        width: 40%;
    }
    @media screen and (max-width: 1024px){
        .container.testimonials-container{
            width: 90%;
        }
    }

.client-avatar{
    text-align: center;
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid $color-primary-variant;
}

.translate{
    margin-top: 1rem;
}

.give-testimonial{
    display: block;
    margin-top: 2rem;
}
/* Pending testimonials styles in reason of not using this section*/